.popup__input {
	box-sizing: border-box;

	display   : block;
	width     : 100%;
	appearance: none;

	border       : none;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);

	padding: 9px 0;
	margin : 21px 0 0 0;

	background-color: transparent;
	outline         : none;


	font-family: 'Inter', Arial, sans-serif;
	font-size  : 14px;
	line-height: normal;
	font-weight: 400;
	color      : #000;
}