.card__button {
	position: relative;
	top: -1px;

	margin : 0 0 0 32px;
	padding: 0;

	width : 23px;
	height: 20px;

	display         : inline-flex;
	background-color: transparent;
	border          : none;

	transition: opacity 0.3s ease-in-out;

	font-size  : 0;
	line-height: normal;
	text-indent: 0;

	white-space: nowrap;

	cursor     : pointer;
	user-select: none;
}

.card__button:hover {
	opacity: 0.5;
}