.card__info {
	display: flex;
	justify-content: space-between;
	align-items: center;

	background-color: #fff;
	padding: 25px 19px 25px 21px;

	border-radius: 0 0 10px 10px;
}
@media all and (max-width: 767px) {
	.card__info {
		padding-right: 20px;
	}
}