.profile__button_type_edit {
	flex: 0 0 auto;

	width : 24px;
	height: 24px;

	background-repeat: no-repeat;
	background-position: center;
	background-image: url(../../../../images/profile/btn-edit.svg);
}

@media all and (max-width: 1023px) {
	.profile__button_type_edit {
		width : 18px;
		height: 18px;
	}
}